.page-3{
  height: 980px;
  background-image: url(images/bg-new2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1%;
  font-family: helvetica;

}

.page-3-artistcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 4%;
}

#page-3-header{
  color: white;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
    letter-spacing: 2px;
}

.art-img{
  width: 250px;
  border-radius: 2px;
  border: 0.5px solid white;
}

.art-border{

}

a{
  text-decoration: none;
}


.Artist-information{
  display: grid;
  grid-template-columns: 26% 33% 33.5%;
  text-align: center;
  padding-top: 2%;
}

.grid-sheeran{
  padding-left: 30%;

}

.grid-ariana{
  padding-left: 45%;
}

.grid-drake{
    padding-left: 45%;
}

#sheeran-txt{
  color: white;
  border: 2px solid white;
  padding: 10px;
  line-height: 1.5;
  font-weight: lighter;
}

#ariana-txt{
  color: white;
  border: 2px solid white;
  padding: 10px;
  line-height: 1.5;
  font-weight: lighter;
}

#drake-txt{
  color: white;
  border: 2px solid white;
  padding: 10px;
  line-height: 1.5;
}
p{
  color: white;
}




#page-3-moreArt{
  color: white;
  text-align: center;
  font-weight: normal;
  padding-top: 5%;
  letter-spacing: 2px;
}

.artMore-container{
  display: grid;
  grid-template-columns: 140px 140px 140px 140px 140px;
  grid-gap: 40px;
  color: white;
  justify-content: center;
  padding-top: 2%;
}

#art-link-page3{
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: lighter;
}

.more-container{
  padding-top: 2%;
  text-align: center;
}

#page-3-more{
  border: 1px solid white;
  padding: 5px;
  font-size: 30px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
}

.page-3-bottom{

}

/* SEARCH BAR*/

* {
  box-sizing: border-box;
}

.example{
display: flex;
justify-content: center;
}



/* Style the search field */
form.example input[type=text] {

  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Style the submit button */
form.example button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  float: left;
  width: 5%;
  padding: 10px;
  background: darkgrey;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: grey;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* ---- img artist ----*/

#page-3-search{
  color: white;
font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 5%;
}

.img-artist{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 10%;
  justify-content: center;
  padding-top: 4%;
}

.width-image{
  width: 250px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  transition: 0.3s;
}

.width-image:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

figcaption{
color: white;
font-size: 25px;
font-weight: lighter;
padding-top: 10%;
text-align: center;
letter-spacing: 1px;
}

#footer-txt{
  display: none;
}

/*------- MEDIA -------*/

@media only screen and (max-width:1150px) {

  .img-artist{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 8%;
    justify-content: center;
    padding-top: 4%;
  }

  .width-image{
    width: 200px;
  }

  figcaption{
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .img-artist{
    display: grid;
    grid-template-columns: 170px 170px 170px;
    grid-gap: 8%;
    justify-content: center;
    padding-top: 4%;
  }

  .width-image{
    width: 170px;
  }


}

@media only screen and (max-width: 760px) {

    .img-artist{
      display: grid;
      grid-template-columns: 150px 150px 150px;
      grid-gap: 8%;
      justify-content: center;
      padding-top: 4%;
    }

    .width-image{
      width: 150px;
    }

    figcaption{
      font-size: 18px;
      text-align: center;
    }

    #page-3-search{
      padding-top: 8%;
    }

}

@media only screen and (max-width: 600px) {

  #page-3-search{
    padding-top: 12%;
  }

  .img-artist{
    display: grid;
    grid-template-columns: 100vw;
    grid-gap: 0%;
    padding-top: 4%;
    text-align: center;
  }

  .width-image{
    width: 90vw;
      box-shadow: 3px 3px 7px black;
  border-radius: 10px;
  margin-top: 10%;
  }

  .width-image:hover{
    transition: 0s;
    transform: none;

  }



  .page-3{
    height: 2580px;
    background-image: url(images/bg-new2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1%;
    font-family: helvetica;
  }

  figcaption{
    display: none;
  }

  #footer-txt{
    display: block;
    font-size: 30px;
    text-align: center;
    padding-top: 10%;

  }

  button{
    display: none;
  }

  form.example input[type=text] {
    border-radius: 10px;
  }

  #lavigne{
    padding-top: 2%;
  }
}
